*{margin: 0%;padding: 0;}


body{
font-family: "Poppins", sans-serif;;
background-color: #338;

}
h1{


    color: rgb(218, 165, 32);
}
 
    
.fotofoda{
display: flex;
    width: 400px;
}
.cabeçalho{
    background-color: #ffffff;
    margin: 0%;
    display: flex;
  
}
.cabeçalho1{
justify-content: center;


}
.jimmy{
    width: 100px;
}
.vegeta{
    width: 100px;
}
.insta{
    width: 40px;
}
.ttk{
    width: 100px
    ;
}