body{
background-color: #383D58;

}
h1{


    color: rgb(218, 165, 32);
}
li{
    color: white;
}
.fotofoda{

    width: 400px;
}
.cabeçalho{
    background-color: rgb(255, 255, 255);
    margin: 0%;
}